@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    /*Paleta*/
    --primary-solid:#ff3333;
    --primary-900: rgba(255, 51, 51, 0.9 );
    --primary-500: rgba(255, 51, 51, 0.5 );
    --primary-300: rgba(255, 51, 51, 0.3 );

    --secondary-solid: #1D84B5;
    --secondary-900: rgb(29, 132, 181,0.9);
    --secondary-500: rgb(29, 132, 181,0.5);
    --secondary-300: rgb(29, 132, 181,0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgb( 31, 31, 31, 0.9);
    --dark-500: rgb( 31, 31, 31, 0.5);
    --dark-300: rgb( 31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --dark-font-solid: #C9C9C9
    --light-text-solid: #747474;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;


    /*Tipografía*/
    --base-font: "Inter", sans-serif;
    --alternative-font: "Raleway", sans-serif;


    /* Tamaño de fuente*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /*Espaciado*/
    --spacing-128: 12.8rem;
    --spacing-90: 9rem;
    --spacing-68: 6.8rem;
    --spacing-50: 5rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;

}

   
*
*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    color: #111111;
}

a{ 
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
header, footer{
    font-family: 'Raleway', sans-serif; ;
    color: white;
}

ul, ol {
    list-style-type: none;

}

p{
    font-size: var(--font-medium);
}

img{
    width: 100%;
}

.container{
   max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

header{

    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36) var(--spacing-12);
}
.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar_logo{
    max-width: 300px;
}
.navbar .navbar__menu{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-20);
}
.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    border-radius: 5px;
    position: relative;
}
.navbar__link:hover {
    background-color: var(--primary-900);    
}

.with-icon{
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
    display: block;
}
.submenu {
    display: none;
    width: 200px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3; /* Para que quede encima del banner */
}
.submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
}
.submenu__link:hover {
    background-color: var(--primary-900);  
}



/*BODY*/
.container__title{
    margin-top: var(--spacing-68);

}

.container__title__h2 {
    margin-left: var(--spacing-18);
    margin-bottom: var(--spacing-28); 
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: bold;
    border-bottom: 5px solid var(--primary-solid); 
    display: inline-flex; 
    justify-content: center;

}

.container__article{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: var(--spacing-28);
    display: flex;
    height: var(--spacing-50);
    border-radius: 10px;
    background-color: var(--light-bg-solid);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);   
  }
tr {
    text-align: center;
    }

td {
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-weight: 700;   
}

td:first-child {
    width: 600px;
  }

td:nth-child(2) {
padding-left: 100px;   
 width: 200px;  
  }

td:last-child {
    padding-right: var(--spacing-50);   
    width: 600px;  
  }
 
  .container__producto {
    margin-top: var(--spacing-28);
    margin-bottom: var(--spacing-28);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-direction: row;
    padding: var(--spacing-16);
    border-radius: 25px;
    background-color: var(--light-bg-solid);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    
  }

.container__img {
    width: 118px;
    height: 118px;
}

.container__box {
    padding-left: var(--spacing-12);
}

h3 {
    font-family: var(--base-font);
    font-size: var(--font-large);
    margin-bottom: var(--spacing-8);
}

.container__text {
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    margin-bottom: var(--spacing-20);   
}

.container__input {
    margin-left: 140px;
    display: flex;
    align-items: center;   
}
.input__button {
    display: flex;
    flex-direction: column;
    height: var(--spacing-36);
    width:  var(--spacing-18);
  }

input[type="number"] {
    margin-top: var(--spacing-12);
    font-family: var(--base-font);
    font-size: var(--font-medium);
    font-weight: 700;
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    width: 90px;
    height: 40px;
    border: 0.5px solid var(--dark-font-solid);
    background-color: var(--light-font-solid);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
   
}

.container__pokemon {
    margin-left: 290px;
    display: flex;
    align-items: center;    
}

.input__mas, .input__menos {
    padding: 0;
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
   
}
.icon {
    width: 100%;
    height: 100%;
  }
.input__total {
    margin-left: 200px;
    font-family: var(--base-font);
    font-size: var(--font-medium);
    font-weight: 400;
    line-height: 2;
    height: var(--spacing-28);
}

.input__cancelar {
    margin-right: var(--spacing-12);
    margin-left: 130px;
    width: var(--spacing-36);
    height: var(--spacing-36);
    border: none;
    background-color:  var(--light-font-solid);;
    display: flex;
    align-items: end;
    cursor: pointer;
}

.container__resumen {
    margin-top: var(--spacing-50);
    width: auto;
    height: 62px; 
    display: flex;
    justify-content: flex-end; 
} 

.resumen__container {
    width: 572px;
    height: 200px;  
    margin-left: auto;
    margin-top: 100px; 
    padding: var(--spacing-12) var(--spacing-24) var(--spacing-36);
    border-radius: var(--spacing-12);
    background: var(--light-bg-solid);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    
}
  
.resumen__title {
    width: 224px;
    height: 62px;
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 700;
    border-bottom: 5px solid var(--primary-solid);
    padding-bottom: 3px;
    display: inline-block ;
    align-items: flex-end;     
}

.resumen__item {
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
  }

.resumen__text {
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-weight: 600;
    text-align: left;
    line-height: normal;
  }
.resumen__item__total {
    padding: var(--spacing-12);
    display: flex;
    justify-content: space-between; 
    font-family: var(--base-font);
    font-size: var(--font-medium);
    font-weight: 700;
    width: 524px; 
    height: var(--spacing-28);
    border: none;
    border-top: 2px solid var(--primary-solid); 

  }
  
.resumen__valor {
    text-align: right;
   
}

#total {
    color: var(--light-text-solid);
    font-family: var(--base-font);
    padding-top: var(--spacing-16);
    border: none;
    border-top: 2px solid var(--primary-solid); 
}

.container__button {
    margin-top: var(--spacing-50);
    margin-bottom: 150px;
    margin-left: auto;   
    display: flex;
    justify-content: flex-end;
}

.button__pagar {
    font-family: var(--base-font);
    font-size: var(--font-xlarge);
    font-weight: 700;
    border-style: none;
    text-align: center;
    width: 620px;
    height: var(--spacing-68);
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    cursor: pointer;
}

  
/* FOOTER */
.footer {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
}
.footer__copy {
    text-align: center;
    margin-top: var(--spacing-36);
}

/* ANIMATIONS */
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}
