<!DOCTYPE html>

    
        <nav class="navbar container">
            <picture class="navbar__logo">
                <a href="../../index.html">
                    <img src="../../img/branding/logo_light_horizontal.svg" alt="logotipo de la marca Funkoshop">
                </a>
            </picture>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a class="navbar__link" href="../../pages/shop/shop.html">VER TIENDA</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../../pages/admin/admin.html">ADMIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../../pages/shop/item.html">SALIR</a>
                </li>
            </ul>
        </nav>

