<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUNKOSHOP - CREATE</title>
    <link rel="stylesheet" href="../../css/create.css">
</head>
<body>
    <header>    
    <%- include("..partials/headerAdmin") -%>
    
    </header>

    <main class="container" > <!--Main-->
        <h1 class="title__create">CREAR NUEVO ITEM</h1>
        <form action="post">
            <div class="select__form">
                <div class="category__licence">
                    <label class="selection" for="category">Categoría:</label>
                    <div class="chevron__down ">
                        <select class="select__option" name="category" id="category">
                            <option value="">Seleccionar </option>
                            <option value="Baby yoda">Baby yoda</option>
                            <option value="Boba Fett Fighter">Boba Fett Fighter</option>
                            <option value="Harry Potter ">Harry Potter</option>
                        </select>
                    </div>
                    <i class="chevron__category"></i>



                    <label class="selection l" for="license">Licencia:</label>
                    <div class="chevron__down">
                        <select class="select__option" name="license" id="">
                            <option value="">Seleccionar</option>
                            <option value="Star Wars">Star Wars</option>
                            <option value="Harry Potter">Harry Potter</option>
                            <option value="Pokemon ">Pokemon</option>
                        </select>
                    </div>
                    <i class="chevron__licence"></i>
                </div>
                


                <div class="name-product">
                    <label class="name-product-title" for="name">Nombre del producto:</label>
                    <input class="product-example" type="text" name="" id=""
                        placeholder="Kakashi Hatake Shippuden Saga ">
                </div>



                <textarea class="text__area" placeholder="  Descripción del producto" name="" id="" cols="10"
                    rows="10"></textarea>


                <div class="">
                    <label class="characteristics" for="name">SKU:</label>
                    <input class="characteristics__sku" type="text" name="" id="" placeholder="SSK111AB001">



                    <label class="characteristics " for="name">Precio:</label>
                    <input class="characteristics__price" type="text" name="" id="" placeholder="$ 0.000,00">



                    <label class="characteristics " for="name">Stock:</label>
                    <input class="characteristics__stock" type="text" name="" id="" placeholder="0">
                </div>

                <div class="dues">
                    <label class="dues__discount" for="name">Descuento:</label>
                    <input class="dues--discount" type="text" name="" id="" placeholder="0%">


                    <label class="selection__dues" for="name">Cuotas:</label>
                    <div class="chevron__down">
                        <select class="select__option-dues" name="dues" id="">
                            <option value=""> 3 cuotas sin interés </option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=" "></option>
                        </select>
                    </div>
                    <i class="chevron"></i>
                </div>

                <label class="file_img" for="name">Imágenes:</label>
                <input class="file__select" type="file"  name="">

                <div class="button__create">
                    <button class="collection-cart-1" type="submint">Agregar Producto</button>
                    <button class="collection-cart-2" type="submint">Limpiar</button>
                </div>

            </div>
        </form>
    </main> <!--Fin de main-->
    <footer>
    <%- include("../partials/footerAdmin") -%>

    </footer>

</body>
</html>