<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUNKOSHOP - LOGIN</title>
    <link rel="stylesheet" href="../../css/login.css">
</head>
<body>

    <%- include("..partials/headerAdmin") -%>
    
 <main>
        <section class="container">
            <div> 
                <h2 class="container__title">INGRESAR A MI CUENTA</h2>
            </div> 
                <br>
            <form action="" method="POST" name="formulario"> 

            <div> 
                <label class="form__label" for="email">Email:</label> 
                <input type="text" id="email"  placeholder="johnDoe@correo.com"  maxlength="50"> 
            </div>
                
            <div> 
                <label class="form__label__pw" for="contraseña">Contraseña:</label> 
                <input type="contraseña" id="contraseña" placeholder="Password" value="........." pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" maxlength="30"> 
            </div>
            <div class="form__button">
                <button type="submit" value="Ingresar">Ingresar</button>
                <input  type="checkbox" id="recordar">
                <label class="form__check" for="recordar">Recordarme</label>
            </div>
            </form>
            <div class="form__link">
                <a>Olvide mi contraseña</a>
            </div>
        </section>
    </main>
    
    <%- include("../partials/footerAdmin") -%>

    
</body>
</html>