<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUNKOSHOP - REGISTER</title>
    <link rel="stylesheet" href="../../css/register.css">
</head>
<body>

    <%- include("..partials/headerAdmin") -%>

    <main>
    <div class="signupFrm">
        <div class="wrapper ">
        <form action="post" class="form ">
          <h1 class="title">CREA TU CUENTA</h1>
            <p class="parrafo">Completa el formulario para ser parte del mundo de los Funkos</p>

           
             <div class="inputContainer">
         <label for="nombre" class="label">
                <span>Nombre:</span>
        </label>
            <input type="text" class="input" placeholder="Jhon">
            </div>
    
          <div class="inputContainer">
            <label for="apellido" class="label">
                <span>Apellido:</span>
            </label>
            <input type="text" class="input" placeholder="Doe">
           
        </div>
    
        <div class="inputContainer">
            <label for="email" class="label">
                <span>Email:</span>
            </label>
            <input type="email" class="input" placeholder="JhonDoe@correo.com">
            
        </div>
        <div class="inputContainer">
            <label for="contraseña" class="label">
                <span>Contraseña:</span>
            </label>
            <input type="contraseña" id="contraseña" class="input" placeholder="contraseña" value="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
        </div>
    
        <div class="inputContainer">
            <label for="confirma contraseña" class="label">
                <span>Repita Contraseña:</span>
            </label>
            <input type="contraseña" class="input" placeholder="repetir contraseña" value="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
        </div>
        <div class="inputBtn">
            <input type="submit" class="submitBtn" value="Registrar">
       
        <div class="inputCheck"> 
            <input type="checkbox" class="check" id="acepto">Acepto<a  class="termCond" href=""> Terminos y Condiciones</a>
        </div>
        </div>
        </form>
        </div>
      </div>
      </main>

      <%- include("../partials/footerAdmin") -%>
      
</body>
</html>